{% extends '_base.html' %}
{% load static %}

{% block content %}


<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container" background-color="red">
        <h2 class="display-4 text-center">Tuck into a takeaway today</h2>
        <p class="lead text-center">Find restaurants delivering right now, near you</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control text-center" placeholder="Enter your postcode" aria-label="Postcode"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-danger" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>
</div>

<h1 class="display-5">Restaurants near you</h1>
<div class="row">
    {% for restaurant in restaurants_list %}
    <div class="col-4">
        <a href="{% url 'restaurants:detail' restaurant.id %}">{{ restaurant }}</a>
    </div>
    {% endfor %}
    {% for restaurant in restaurants_list %}
    <div class="col-4">
        <a href="{% url 'restaurants:detail' restaurant.id %}">{{ restaurant }}</a>
    </div>
    {% endfor %}
</div>


{% endblock content %}