{% extends '_base.html' %}
{% load static %}

{% block content %}


<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container" background-color="red">
        <h2 class="display-4 text-center">Tuck into a takeaway today</h2>
        <p class="lead text-center">Find restaurants delivering right now, near you</p>

        <form method="post" action="{% url 'restaurants:search_redirect' %}"
            class="input-group mb-3 d-flex justify-content-center">
            {% csrf_token %}
            <input name="postcode_field" type="text" class="form-control text-center col-md-7"
                placeholder="Enter your postcode" aria-label="Postcode" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-danger" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
    </div>
</div>

<h1 class="display-5">
    Restaurants near {% block location %}you{% endblock location %}
</h1>


{% block subtitle-content %}
<div class="row">
    {% for restaurant in restaurants_list %}
    <div class="col-4 ">
        <a class="d-flex justify-content-center"
            href="{% url 'restaurants:detail' restaurant.id %}">{{ restaurant }}</a>
    </div>
    {% endfor %}
</div>
{% endblock subtitle-content %}

{% endblock content %}